<!-- <app-navbar></app-navbar> -->
  <!-- <div class="mt-5 pt-5 mb-5"> -->
    <div class="mt-5">
        <div class="container mt-5">
            <div class="col-6 mx-auto border p-4">
                <!-- <div>{{message}}</div> -->
              <h3 class="text-center text-info mb-4">SignUp</h3><hr>
                <input type="text" class="form-control my-2" placeholder="Email" [(ngModel)]="email">
                <input type="text" class="form-control my-2" placeholder="password" [(ngModel)]="password">
                <button class="btn btn-success w-100" (click)="studentSignIn()">Send</button>
            </div>
        
    
        </div>
      </div>
    <!-- <app-footer></app-footer> -->